<div class="bottom-destinations-table-container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          {{ 'imerominia' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{ 'proorismos' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{ 'xlm-ekkinisis' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{ 'apostasi' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let destination of destinations; let i=index">
      <ion-col>
        <div>
          {{ formatDate(destination.date) }}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{ destination.destination }}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{ destination.startingKlm }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="(i-1) > -1 else noPreviousDestination">
          {{ destinations[i-1].startingKlm - destination.startingKlm }}
        </div>
        <ng-template #noPreviousDestination>
          -
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
