<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'diadromes' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validations_form" (ngSubmit)="onDataSave()">
    <ion-item>
      <ion-label position="floating">{{ 'imerominia' | translate }}</ion-label>
      <ion-datetime formControlName="date" display-format="DD MM YYYY" picker-format="DD MM YYYY">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'proorismos' | translate }}</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'xlm-ekkinisis' | translate }}</ion-label>
      <ion-input formControlName="startingKlm" inputmode="numeric">
      </ion-input>
      <div *ngIf="startingKlm.status === 'PENDING'">{{ 'checking' | translate }}</div>
      <div *ngIf="startingKlm.errors?.startingKlmLow" translate
        [translateParams]="{value: startingKlm.errors.startingKlmLow}">lowKlmError</div>
    </ion-item>

    <div formGroupName="fuel" class="fuelFormGroup">
      <div *ngIf="fuel.errors?.addAllFuelFields" translate>addAllFuelRelatedFields</div>
      <ion-item>
        <ion-label position="floating">{{ 'kostos-venzinis' | translate }}</ion-label>
        <ion-input formControlName="fuelCost" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'kostos-venzinis-ana-lt' | translate }}</ion-label>
        <ion-input formControlName="fuelCostPerLitre" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'xlm-prin-to-gemisma' | translate }}</ion-label>
        <ion-input formControlName="remainingKlm" inputmode="numeric"></ion-input>
      </ion-item>
    </div>

    <ion-button translate color="primary" class="submit-btn" expand="full" type="submit"
      [disabled]="!validations_form.valid">
      Submit data</ion-button>
  </form>

  <app-routes-table [routesAmount]=5></app-routes-table>
</ion-content>