.bottom-destinations-table-container {
  margin-top: 20px;
}

ion-button {
  text-transform: capitalize;
}

.fuelFormGroup {
  margin: 5px;
  padding: 2px 2px 5px 2px;
  background-color: #eee;
  ion-item{
    --ion-background-color: transparent;
 }
}